.header__subtitle {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    margin: 32px 0 64px 0;
}

@media screen and (max-width: 769px) {
    .header__subtitle {
        margin: 16px 0 24px 0;
    }
}