.card__news-info {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 24px 24px;
    box-sizing: border-box;
    width: 100%;
    
}

@media screen and (max-width: 1033px) {
    .card__news-info {
        padding: 16px;
    }
}