@import url(./__text/for-clients__text.css);
@import url(./__paragraph/for-clients__paragraph.css);

.for-clients {
    padding-top: 80px;
    padding-bottom: 94px;
}

@media screen and (max-width: 769px) {
    .for-clients {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 451px) {
    .for-clients {
        padding-top: 16.46px;
        padding-bottom: 37.56px;
    }
}