@import url(./__author/commit__author.css);
@import url(./__date/commit__date.css);
@import url(./__info/commit__info.css);
@import url(./__mail/commit__mail.css);
@import url(./__name/commit__name.css);
@import url(./__photo/commit__photo.css);
@import url(./__text/commit__text.css);

.commit {
    background: #FFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-height: 288px;
    max-width: 400px;
    box-sizing: border-box;
}

.commit:hover {
    cursor: pointer;
}