.header_main {
    background-image: url(./../../../images/main_header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -1px 0px #FFFFFF;
}