@import url(./__abuot/author__about.css);
@import url(./__description/author__description.css);
@import url(./__photo/author__photo.css);

.author {
    display: flex;
    flex-direction: row;
    background: #FFF;
}