@import url(./__abuot/author__about.css);
@import url(./__description/author__description.css);
@import url(./__photo/author__photo.css);

.author {
    display: flex;
    flex-direction: row;
    background: #FFF;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 769px) {
    .author {
        padding-top: 61px;
        padding-bottom: 61px;
    }
}