.footer__copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 706px) {
    .footer__copyright {
        grid-row: 2;
        grid-column: 1;
    }
}

@media screen and (max-width: 451px) {
    .footer__copyright {
        padding-bottom: 22px;
    }
}