.footer__social-item {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 28px;
    padding: 0;
    transition: transform linear .1s;
}

.footer__social-item:first-child {
    margin: 0;
}

.footer__social-item:hover {
    transform: scale(1.2);
}

.footer__social-item:active {
    opacity: 0.5;
}