@import url(./__section/root__section.css);

.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 calc(50% - 720px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}