@import url(./__date/card__date.css);
@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__news-info/cars__news-info.css);
@import url(./__source/card__source.css);
@import url(./__title/card__title.css);

.card {
    background: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}