@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(./about.css);
@import url(./paper.css);

.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 calc(50% - 720px);
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    flex-direction: column;
    width: 100%;
}

.header_main {
    background-image: url(../images/main_header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -1px 0px #FFFFFF;
}

.header_light {
    border-bottom: 1px solid #D1D2D6;
}

.root__section {
    padding: 0 104px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu_light {
    background: #FFFFFF;
}


.menu__logo {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 26px 0;
}

.menu__logo_dark {
    color: #FFFFFF;
}

.menu__logo_light {
    color: #1A1B22;
}

.menu__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}

.menu__item {
    list-style-type: none;
    display: inline;
    padding: 0 0 26px 0;
    margin: 28px 0 -1px 34px;
}

.menu__item:first-child {
    margin: 28px 0 -1px 0;
}

.menu__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
}

.menu__link_main-page {
    color: #FFFFFF;
}

.menu__item_main-page {
    border-bottom: 3px solid #FFFFFF;
}

.menu__link_about-page {
    color: #1A1B22;
}

.menu__item_about-page {
    border-bottom: 3px solid #1A1B22;
}

.header__search {
    display: flex;
    margin: 80px 0 80px 0;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.title_header {
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 608px;
    margin: 0;
}

.title_for-clients {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0 0 24px 0;
    padding: 0;
}

.header__subtitle {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 32px 0 64px 0;
    max-width: 608px;
}

.search {
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    min-height: 64px;
    margin: 0;
}

.search__input {
    outline: none;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0 213px 0 24px;
}

.search__input::-webkit-input-placeholder {
    color:#B6BCBF; 
    opacity:1;
}/* webkit */

.search__input::-moz-placeholder {
    color:#B6BCBF; 
    opacity:1;
}/* Firefox 19+ */

.search__input:-moz-placeholder {
    color:#B6BCBF;
    opacity:1;
}/* Firefox 18- */

.search__input:-ms-input-placeholder {
    color:#B6BCBF;
    opacity:1;
}/* IE */

.button {
    padding: 0;
    margin: 0;
    border: 1px solid #1A1B22;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.button_search {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    color: #FFFFFF;
    min-height: 64px;
    margin: -1px;
    min-width: 168px;
    border: none;
}

.results {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
}

.results__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 190px;
    align-items: center;
}

.results__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
}

.cards-pack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.card {
    background: #FFFFFF;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.card__image {
    background-image: url(../images/1.jpg);
    background-size: cover;
    min-height: 272px;
}

.card__news {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 24px 24px;
}

.card__date {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    margin: 0 0 12px 0;
    padding: 0;
}

.card__title {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0 0 12px 0;
    padding: 0;
}

.card__description {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0 0 18px 0;
    padding: 0;
}

.card__source {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 0;
    padding: 0;
}

.button_show-more {
    background: #FFFFFF;
    border-radius: 80px;
    padding: 18px 80px 22px 80px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    max-width: 288px;
    border: none;
    margin: 64px auto 80px auto;
}

.title_results {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

.author {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
}

.author__photo {
    border-radius: 1000px;
    max-width: 464px;
    max-height: 464px;
    margin: 80px 0;
}

.author__about {
    max-width: 600px;
    margin-left: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_author {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
}

.author__description {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
}

.footer__menu-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__menu-item {
    list-style-type: none;
    display: inline;
    margin: 0 40px 0 0;
    padding: 0;
}

.footer__menu-item:last-child {
    margin: 0;
}

.footer__copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
    padding: 0;
}

.footer__social {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer__social-item {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 28px;
    padding: 0;
}

.footer__social-item:first-child {
    margin: 0;
}

.for-clients {
    padding-top: 80px;
    padding-bottom: 94px;
}

.for-clients__paragraphs {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    max-width: 815px;
}

.technologies {
    display: flex;
    flex-direction: row;
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 102px;
}

.title_technologies {
    font-size: 40px;
    line-height: 46px;
    max-width: 344px;
    
}

.technologies__icons {
    display: flex;
    flex-direction: row;
    margin: 0 112px 0 178px;
}

.technologies__name {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0;
    padding: 0;
    text-align: center;

}

.technologies__name:first-child {
    margin: 0;
}

.technologies__block {
    margin-left: 41px;
}

.technologies__picture {
    margin-top: 24px;
}

.github {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 136px;
}

.github__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 72px 0 64px 0;
    padding: 0 104px;
}

.title_github {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

.github__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
}

.commit {
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-height: 288px;
    width: 400px; /*карточки идут разной ширины, исправить*/
    box-sizing: border-box;
}

.commit__date {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
    margin-bottom: 16px;
}

.commit__text {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-top: 16px;
}

.commit__author {
    display: flex;
    flex-direction: row;
}

.commit__photo {
    border-radius: 1000px;
    max-width: 64px;
    max-height: 64px;
}

.commit__author-info {
    margin-left: 16px;
}

.commit__author-name {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0;
    padding: 0;
}

.commit__author-mail {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
}

.analytics {
    padding-top: 40px;
    padding-bottom: 80px;
}

.analytics__site-page {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 40px 0 80px 0;
    padding: 0;
}

.analytics__site-page_grey {
    color: #B6BCBF;
}

.title_analytics {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
    padding: 0;
}

.analytics__news {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0;
    padding: 0;
}

.analytics__news_bold {
    font-weight: bold;
}

.analytics__numbers {
    margin-top: 24px;
}

.infographics {
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.title_infographics {
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-bottom: 48px;
}

.infographics__diagram-head {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #1A1B22;
}

.infographics__date {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    max-width: 80px;
}

.infographics__references {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin-left: 60px;
}

.infographics__diagram {
    display: flex;
    flex-direction: column;
}

.infographics__axis {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    justify-content: space-between;
}

.infographics__axis-numbers {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.infographics__chart {
    display: flex;
    flex-direction: row;
}

.infographics__day {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    color: #1A1B22;
    margin: 0;
    padding: 0;
}

.infographics__colums {
    margin-left: 90px;
}

.infographics__column {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2F71E5;
    min-height: 24px;
    margin: 25px 0 56px 0;
}

.infographics__column:last-child {
    margin-bottom: 0;
}

.infographics__column_one {
    width: 184px;
}

.infographics__column_two {
    width: 256px;
}

.infographics__column_three {
    width: 120px;
}

.infographics__column_four {
    width: 424px;
}

.infographics__column_five {
    width: 528px;
}

.infographics__column_six {
    width: 816px;
}

.infographics__column_seven {
    width: 368px;
}