@import url(./__circle-preloader/loading__circle-preloader.css);
@import url(./__text/loading__text.css);

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}