@import url(./_light/menu__link_light.css);
@import url(./_dark/menu__link_dark.css);

.menu__link {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    transition: color linear .1s;
}

@media screen and (max-width: 769px) {
    .menu__link {
        line-height: 22px;
    }
}