@import url(./__axis-numbers/infographics__axis-numbers.css);
@import url(./__axis/infographics__axis.css);
@import url(./__chart/infographics__chart.css);
@import url(./__column/infographics__column.css);
@import url(./__colums/infographics__colums.css);
@import url(./__diagram-head-date/infographics__diagram-head-date.css);
@import url(./__day/infographics__day.css);
@import url(./__diagram-head/infographics__diagram-head.css);
@import url(./__diagram/infographics__diagram.css);
@import url(./__diagram-head-references/infographics__diagram-head-references.css);
@import url(./__chart-dates/infographics__chart-dates.css);
@import url(./__diagram-body/infographics__diagram-body.css);

.infographics {
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 769px) {
    .infographics {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 451px) {
    .infographics {
        padding-top: 24px;
        padding-bottom: 38px;
    }
}