.title_github {
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

@media screen and (max-width: 1034px) {
    .title_github {
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
    }
}