.card__wrapper {
    background: #FFF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
}

.card__wrapper:hover {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 1);
}